<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<a href="#!/address/new"><button class="col-xs-6 btn btn-warning">Add Address</button></a>
		<a href="#!/address/list"><button class="col-xs-6 btn btn-info">All Addresses</button></a>
	</div>
</div>

<h3>Address Book</h3>
<input type="text" name="" placeholder="Search Address Book" ng-model="searchText">
<div ng-repeat="address in addresses | filter: searchText">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-8"><a ng-href="#!/address/view/{{address.id}}">{{address.street_address}}</a></div>
			<div class="col-xs-3">{{address.name}}</div>            
			<div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteAddress(address.id)"></button></div>
		</div>
	</div>
</div>